<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.podtynnyi.com.yubikeylockd</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/yubikeylockd</string>
    </array>
    <key>LaunchEvents</key>
    <dict>
      <key>com.apple.iokit.matching</key>
      <dict>
        <key>com.apple.device-attach</key>
        <dict>
            <key>idProduct</key>
            <integer>278</integer>
            <key>idVendor</key>
            <integer>4176</integer>
            <key>IOProviderClass</key>
            <string>IOUSBDevice</string>
            <key>IOMatchLaunchStream</key>
            <true/>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>
